<div class="container_12">

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />

  <style>
    #range-selection{
      -webkit-appearance:slider-vertical;
      height: 400px;
      width: 60px;
      margin-left: 25px;
    }

    #map{
      /*		float:left;*/
      width: 700px;
      height: 400px;
    }

    #message-text{
      height: 150px;
    }

    .message-inputs{
      overflow: hidden;
      margin-bottom: 5px;
    }	

    .message-inputs input, .message-inputs textarea{
      border: 1px solid #aaa;
      border-radius: 2px;
      box-shadow: 2px 2px 3px #aaa;
      margin: 3px 0;
      padding: 7px;
      font-size: 13px;
    }


  </style>

  <div id="comp" class="grid_12">

    <div class="message-inputs">
      <label class="grid_2">Subject</label>
      <input class="grid_4" type="text" />
    </div>

    <div class="message-inputs">
      <label class="grid_2">Message</label>
      <textarea id="message-text" class="grid_6"></textarea>
    </div>

    <div class="clearfix">&nbsp;</div>

    <div id="profiletabs" class="grid-12 maptabs">
      <!-- render partial -->
    </div>

    <div class="clearfix">&nbsp;</div>

    <div id="mapwrap">

      <div id="mapcol" class="grid_10">
        <div id="map"></div>
      </div>

      <div id="mapcon" class="grid_1">
        <div id="interface-box">
          <input id="range-selection" type="range" name="points" min="25" max="5000" />
        </div>
      </div>

    </div>

    <div class="clearfix">&nbsp;</div>

  </div>
</div>

<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
<script>
  // show_map( 44.983334, -93.26666999999999);
  show_map( 44.9454009, -93.29540700000001);

  function show_map(lat, lng) {
    console.log('show works');

    // var lat = position.coords.latitude;
    // var lng = position.coords.longitude;
    var map = L.map('map').setView([lat, lng], 13);
    var radiusCircle;

    L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
      maxZoom: 18,
    }).addTo(map);

    radiusCircle = L.circle([lat, lng], 500, {
      color: 'red',
      fillColor: '#f03',
      fillOpacity: 0.5
    });
    radiusCircle.addTo(map);

    var marker = L.marker([lat, lng]).addTo(map);

    function onMapClick(e) {
      radiusCircle.setLatLng(e.latlng);
      marker.setLatLng(e.latlng);
    }

    map.on('click', onMapClick);

    $('#range-selection').change( function() {
      var newValue = $(this).val();
      radiusCircle.setRadius(newValue);
    });
  }
</script>
