%h1 Send a Message
= simple_form_for :message, url: '', html: { 'data-ng-controller' => 'messageFormController', 'data-ng-submit' => 'submit()' } do |f|
  = f.input :subject
  = f.input :body
  = f.button :submit
