%section.introduction

  %h1 Welcome, neighbor! 

  %p
    In order make the most out of Vicini, we need to know a little about you and
    where you live. 

  %p Privacy is important to us. Below is our ethos:

  %ul
    %li Your data is used for only its intended use.
    %li Your data is never bartered or sold.
    %li Your data is never given to advertisers.
    %li Your data may be kept indefinitely.
    %li Data is given to law enforcement only when the legal process is followed.

%form(ng-submit='#{formMethod}')
  .actions
    .input
      %label First Name
      %input(ng-model='user.first_name')
    .input
      %label Last Name
      %input(ng-model='user.last_name')
    .input
      %label Email
      %input(ng-model='user.email')
    .input
      %input{type: 'submit', value: 'Button'}
