%h1 User Controller

.user {{ user.id }}
.user {{ user.first_name }}
.user {{ user.last_name }}
.user {{ user.address1 }}
.user {{ user.address2 }}
.user {{ user.city }}
.user {{ user.state }}
.user {{ user.zip }}
