// Fonts
$heading_font: 'Satisfy', serif;
$app_font: 'Roboto Slab', serif;

// Colors
$beige: rgb(216, 203, 166); 
$light_green: rgb(91, 132, 40);  
$dark_green: rgb(39, 74, 0);
$brown: rgb(56, 37, 17);
$grey: rgb(54, 57, 66);

body {
  margin:0;
  padding:0;
  border-top:5px solid $dark_green;
  color: $grey;
  font-family: $app_font; 
  background-image:url('shl.png');
  @include image-2x('shl_@2X.png', 2px, 2px);
}

h1 {
  font-family: $heading_font;
  a {
    text-decoration:none;
    color: $light_green;
  }
}

h2 {
  margin:0 0 -.7em 0;
  font-family:$heading_font;
  color:$brown;
}

header {
  @include outer-container;
  .inner {
    @include span-columns(12);
  }
  h1 {
    float:left;
  }
  .persona {
    float:right;
    margin-top:2em;
  }
}

section.content {
  @include outer-container;
  .inner {
    @include span-columns(12);
  }
}
