// Fonts
$heading_font: 'Satisfy', serif;
$app_font: 'Roboto Slab', serif;

// Colors
$beige: rgb(216, 203, 166); 
$light_green: rgb(91, 132, 40);  
$dark_green: rgb(39, 74, 0);
$brown: rgb(56, 37, 17);
$grey: rgb(54, 57, 66);

body {
  margin:0;
  padding:0;
  border-top:5px solid $dark_green;
  color: $grey;
  font-family: $app_font; 
  background-image:url('shl.png');
  @include image-2x('shl_@2X.png', 2px, 2px);
}

h1 {
  font-family: $heading_font;
  a {
    text-decoration:none;
    color: $light_green;
  }
}

h2 {
  margin:0 0 -.7em 0;
  font-family:$heading_font;
  color:$brown;
}

header {
  @include outer-container;
  .inner {
    @include span-columns(12);
  }
  h1 {
    float:left;
  }
  .persona {
    float:right;
    margin-top:2em;
  }
}

section.content {
  @include outer-container;
  .inner {
    @include span-columns(12);
  }
}

a.button  {
  font-size:2rem;
  color:$beige;
  margin-right: 30px;
  width: 64px;
  height: 64px;
  display: inline-block;
  position: relative;
  line-height: 64px;
  background-color: #eaeaea;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #eaeaea);
  background-image: -moz-linear-gradient(top, #f6f6f6, #eaeaea); 
  background-image: -ms-linear-gradient(top, #f6f6f6, #eaeaea); 
  background-image: -o-linear-gradient(top, #f6f6f6, #eaeaea);
  background-image: linear-gradient(top, #f6f6f6, #eaeaea);
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
  &:active {
    top: 1px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f6f6f6));
    background-image: -webkit-linear-gradient(top, #eaeaea, #f6f6f6);
    background-image: -moz-linear-gradient(top, #eaeaea, #f6f6f6); 
    background-image: -ms-linear-gradient(top, #eaeaea, #f6f6f6); 
    background-image: -o-linear-gradient(top, #eaeaea, #f6f6f6);
    background-image: linear-gradient(top, #eaeaea, #f6f6f6);
    &:before {
      top: -9px;
    }
  }
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    background-color: #eaeaea;
    -moz-border-radius: 140px;
    -webkit-border-radius: 140px;
    border-radius: 140px;
    opacity: 0.4; 
  }
  &:hover {
    cursor:pointer;
    opacity: 1;
    &:before {
      background-color:$beige;
      opacity: 0.4; 
    }
  }
  i.fa-users {
    margin-left:.5em;
  }
  i {
    margin-left:.6em;
  }
}
